reflex
pandas
numpy
olefile
torch
faiss-cpu
python-dotenv
transformers
pydantic
langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-ollama
langchain-text-splitters
matplotlib
tqdm
pdfplumber
unstructured[pdf]
filelock
FlagEmbedding
scikit-learn
peft
kaggle
gensim
nltk
seaborn
ultralytics
torch-fidelity
torchmetrics
bitsandbytes
accelerate
